/* Footer Genel Stilleri */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.footer {
    background-color: #bdc3c7;
   
    
}

/* İlk bölüm (4 bölüm) */
.footer-top {
    display: flex;
    justify-content: space-between;
    padding: 1rem 5%;
}

.footer-section {
    width: 23%; /* 4 bölüm için her birinin genişliği */
}

.footer-logo {
    max-width: 100%; /* Logo, mevcut genişliğe uyacak şekilde */
    height: auto;
}

.footer-section h3 {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 0.5rem;
}

.footer-section ul li a {
    text-decoration: none;
    color: #333;
}

.footer-section a {
    font-size: 1rem;
    color: #007BFF;
}

.footer-section a:hover {
    text-decoration: underline;
}

/* Footer alt kısmı */
.footer-bottom {
    text-align: center;
    background-color: #0d3245;
    color: white;
    padding: 1rem 0;
    margin-top: 2rem;
}



/* Responsive Tasarım */
@media (max-width: 768px) {
    .footer-top {
        flex-direction: column;
        align-items: center;
    }
    .footer-section {
        width: 100%;
        margin-bottom: 1rem;
    }
    .footer-bottom {
       
    }
}
