/* Genel Stiller */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
    color: #333;
}

/* İletişim Sayfası Başlık ve Açıklama */
.contact-title {
    font-size: 2em;
    font-weight: 600;
    color: #0d3245;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 10px;
}

.contact-description {
    font-size: 1em;
    font-weight: 300;
    color: #666;
    text-align: center;
    margin-bottom: 30px;
    max-width: 800px;
}

/* İletişim Bağlantıları */
.contact-section {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.contact-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.contact-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 400;
    color: #333;
    padding: 10px 20px;
    width: 100%;
    max-width: 400px;
    background-color: #f1f3f6;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.contact-link:hover {
    background-color: #e2e8f0;
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

/* Responsive Tasarım */
@media (max-width: 768px) {
    .contact-title {
        font-size: 1.8em;
    }

    .contact-description {
        font-size: 0.9em;
    }

    .contact-link {
        font-size: 1em;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .contact-title {
        font-size: 1.6em;
    }

    .contact-description {
        font-size: 0.85em;
    }

    .contact-link {
        font-size: 0.9em;
    }
}



   