/* Genel ayarlar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Başlıklar ve Bölümler */
.psikologlarımız-section-title {
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
    padding-top: 80px;
    color: #0d3245;
}

.psikologlarımız-container {
    width: 80%;
    margin: 0 auto;
}

.psikologlarımız-container h2 {
    font-size: 1.8rem;
    margin-top: 20px;
    text-align: center;
    color: #0d3245;
}

.psikologlarımız-container p {
    font-size: 1rem;
    text-align: justify;
    margin: 20px 0;
}

/* Profil kısmı */
.psikologlarımız-profile {
    display: flex;
    justify-content: space-between;
    
}

.psikologlarımız-profile .psikologlarımız-profile-info {
    flex: 1;
    padding-right: 20px;
}

.psikologlarımız-profile .psikologlarımız-profile-image {
    flex: 0.5;
    text-align: center;
}

.psikologlarımız-profile .psikologlarımız-profile-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Eğitim ve Projeler Bölümü */
.psikologlarımız-training-images, .psikologlarımız-project-images, .psikologlarımız-certificate-images {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.psikologlarımız-training-images img, .psikologlarımız-project-images img, .psikologlarımız-certificate-images img {
    width: 48%;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Responsive */
@media screen and (max-width: 768px) {
    .psikologlarımız-container {
        width: 95%;
    }

    .psikologlarımız-section-title {
        font-size: 2rem;
    }

    .psikologlarımız-profile {
        flex-direction: column;
        align-items: center;
    }

    .psikologlarımız-profile .psikologlarımız-profile-image img {
        width: 70%;
        max-width: 250px;
    }

    .psikologlarımız-profile .psikologlarımız-profile-info {
        padding-right: 0;
    }

    .psikologlarımız-container h2 {
        font-size: 1.5rem;
    }

    .psikologlarımız-container p {
        font-size: 0.9rem;
    }

    .psikologlarımız-training-images img, .psikologlarımız-project-images img, .psikologlarımız-certificate-images img {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .psikologlarımız-section-title {
        font-size: 1.5rem;
    }

    .psikologlarımız-container h2 {
        font-size: 1.3rem;
    }

    .psikologlarımız-container p {
        font-size: 0.8rem;
    }
}
